<!DOCTYPE HTML>
<html>
<head>
    <title>XKCD - Comic</title>
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" />
</head>
<body>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")"></script>
</body>
</html>